@import "./textSizes.scss";
.card {
  background-color: red;
  height: 200px;
  border-radius: 10px;
  padding: 3rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  p {
    font-size: 1.5rem;
    font-weight: 700;
  }

  img {
    width: 200px;
    position: absolute;
    bottom: -60px;
    right: 0;
    z-index: 2;
    opacity: 0.1;
  }
}
