.card-style-1 , .card-style-10 {
  background-color: #FDA319;
  color: #FFE7C1;
}
.card-style-2 , .card-style-11 {
  background-color: #799F00;
  color: #C4ED41;
}
.card-style-3 , .card-style-12 {
  background-color: #005248;
  color: #50E8D5;
}
.card-style-4 , .card-style-13 {
  background-color: #FFC0B8;
  color: #C6756B;
}
.card-style-5 , .card-style-14 {
  background-color: #AC8B67;
  color: #FFD19F;
}
.card-style-6 , .card-style-15 {
  background-color: #00C0EE;
  color: #1F6F82;
}
.card-style-7 , .card-style-16 {
  background-color: #FF33C4;
  color: #FFA5E5;
}
.card-style-8 , .card-style-17 {
  background-color: #00D587;
  color: #1A6C4E;
}
.card-style-9 , .card-style-18 {
  background-color: #723000;
  color: #FFA767;
}
      
