// import font

@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

// global styling

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans", sans-serif;
  padding-bottom: 3rem;
}

.container {
  width: 1600px;
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
